h3{
    text-align: center;
}
p{
    text-align: center;
}
h3{
 text-decoration: none;
    background-color: rgb(170, 133, 207);
    color: black;
    padding: 0.3em;
    border-radius:0.2em;
}
h3:hover{
    background-color:rgb(218, 197, 238);
    color: crimson;
}
